* {
    font-family: sans-serif;
}

body {
    margin: unset;
    background-color: oldlace;
}

a {
    color: white;
}

a:visited {
    color: teal;
}

a:hover {
    color: tomato;
}

nav {
    background-color: yellowgreen;
    width: 100%;
    padding: 5px 0px 5px;
    overflow: hidden;
    display: block;
    text-align: right;
}

nav a {
    padding: 0px 10px;
    font-family: monospace;
    display: inline
}

main {
    width: 800px;
    margin: auto
}

body main p {
    letter-spacing: normal;
    line-height: 20pt;
    font-size: 14pt;
}

main button {
    border: yellowgreen solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12pt;
    margin: unset;
    background-color: unset;
}

main button a {
    color: black;
    text-decoration: unset;
}

main button:hover {
    background-color: yellowgreen;
}

.center {
    text-align: center;
}
